.badgeTooltip {
  font-size: 0.7rem !important;
}

.playerBadge {
  width: 30px !important;
  vertical-align: -0.1em !important;
}

.badgesInfo-title {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  text-align: center !important;
  margin-bottom: 1rem !important;
}

.badgesInfo-text {
  font-size: 1.1rem !important;
  font-weight: normal !important;
}

.badgesInfo-container {
  justify-content: center !important;
  text-align: center !important;
  margin-top: 10% !important;
}

.badgesInfo-paper {
  padding: 16px 16px 16px 16px !important;
}

@media (min-width: 576px) {
  .badgeBox {
    padding-left: 10% !important;
  }
}

@media (min-width: 768px) {
  .badgeBox {
    padding-left: 12% !important;
  }
}

@media (min-width: 992px) {
  .badgeBox {
    padding-left: 15% !important;
  }
}

@media (min-width: 1200px) {
  .badgeBox {
    padding-left: 20% !important;
  }
}
