::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1616160a;
}

::-webkit-scrollbar-thumb {
  background: #464646;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
