* {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.minecraftFont {
  font-family: "VT323", monospace !important;
}

.tooltipModified {
  font-size: 0.7rem !important;
}

.friendName {
  opacity: 1 !important;
  transition: all ease-in 0.2s;
  font-size: 20px !important;
}

.friendName:hover {
  opacity: 0.6 !important;
  transition: all ease-in 0.2s;
}

.expansionPanelSummary {
  font-size: 1rem !important;
  font-weight: bold;
}

.playerSkinCanvasParent,
.playerSkinCanvasParent:focus,
.playerSkinCanvasParent:hover {
  outline: none !important;
}

.shadow {
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.4));
}

@keyframes skinCanvasBgAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 80000px 80000px;
  }
}

.checkerAnimation {
  animation: skinCanvasBgAnimation 4000s linear;
  animation-iteration-count: infinite;
}

.lightChecker {
  background-image: linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
    linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 12.5% 12.5%;
}

.paper {
  padding: 16px;
}

.navbar_title {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;

  .navbar_title__vime {
    font-weight: 700;
  }
}

.staff_card__link {
  color: inherit;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.staff_card__link:hover {
  opacity: 0.7;
}
